.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex-item {
    text-align: center;
    margin: 5px;
}
#sqrtQ , #sqrtA{
    border-top-style: solid;
    border-top-width: 1px;
}